Repository ShaneYu/cra-template-typescript-redux: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format-doctoc, npm run format-package-json, prettier --write, markdownlint

.lintstagedrc:

{
  "{README,CONTRIBUTING}.md": ["npm run format-doctoc", "git add"],
  "package.json": ["npm run format-package-json", "git add"],
  "{.editorconfig, LICENSE}": ["prettier --write", "git add"],
  "**/*.md": ["markdownlint"],
  "**/*.{json,md,mdx,yaml,yml}": ["prettier --write", "git add"]
}

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run format-package-json, prettier --write, markdownlint

ci: add ability to trigger semantic-release on demand
  .github/workflows/release.yml
Due: prettier --write

ci: remove commitlint workflow as it does not work past first commit
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: prettier --write

fix: manually bump version due to issue with published npm package
  package.json
Due: npm run format-package-json, prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

chore: remove unused linter configuration files
  .lintstagedrc
  .markdownlintrc
Due: none
